// Add all your variable in this files

// Colors

$ac-1: Chocolate;
$ac-2: teal;
$ac-3: DodgerBlue;

$bg-1: Snow;
$bg-2: Gainsboro;
$bg-3: Violet;

// Fonts

$sans: 'Overpass', sans-serif;
$serif: 'Bitter', serif;
