<div class="temp">
  <h1>Gulp Starter</h1>
  <h3>A basic starter project with Gulp and Nunjucks.</h3>
  <p>This project Includes the following tools, tasks and workflows:</p>
  <ul class="clearfix">
    <li>Gulp</li>
    <li>Nunjucks</li>
    <li>TypeScript</li>
    <li>Plumber</li>
    <li>BrowserSync</li>
    <li>SASS</li>
    <li>Autoprefixer</li>
    <li>Concat</li>
    <li>CleanCSS</li>
    <li>Uglify</li>
    <li>Gulp-Watch</li>
    <li>Gulp-Data</li>
  </ul>
</div>
