{# This is the parent Template #}

{# Define your global variables here #}
{% set test = "test" %}


<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="This is work in Progress">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    {% block pageContent %} Use this to add body Content {% endblock %}

    {# <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> #}
    <script src="/assets/js/main.js"></script>

  </body>
</html>
