// Styles for ERROR 404 Page

.err {
  height: 100vh;
  width: 100vw;
  font-family: $serif;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: $ac-1;
  overflow: hidden;

  h1 {
    margin-top: 0px;
  }

  .err-bg {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 0.07;
    z-index: -1;
    font-size: 45vw;
    left: 0px;
    right: 0px;
    top: 45%;
    transform: translateY(-50%);
  }
}
